@charset "UTF-8";
@import url("reset.css");

footer {font-family: "Pretendard";}
footer .wrap {
    background: #333;
    width: calc(100% - 60px);
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    padding: 40px 60px;
}
footer a {
    font-size: 36px;
    font-weight: 600;
    color: #fafafa;
}
footer ul {
    margin: 25px 0 35px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
footer ul li {
    font-size: 16px;
    font-weight: 500;
    color: #999;
}
footer p {
    color: #ccc;
}
/* footer 반응형 20251231 */
@media all and (max-width: 960px) {
        footer .wrap {
        padding: 25px 40px;
    }
}
@media all and (max-width: 400px) {
        footer .wrap {
        padding: 25px 20px;
    }
    footer a {
        font-size: 32px;
    }
    footer ul li {
        font-size: 15px;
    }
}