@charset "UTF-8";

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} /* 필수 */

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    text-decoration:none;
}

li {
    list-style: none;
}

body {
    line-height: 1;
    color: #2a2a2a;
}

button {
    overflow: visible;
    text-transform: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
    background: unset;
    border: unset;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
a, p, strong, li, span {
    word-break: keep-all;
    line-height: 1.2;
}