<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIESEL Overview</title>
    <link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../lib/fancybox.css">
    <link rel="stylesheet" href="../../lib/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../lib/aos.css">
    <link rel="stylesheet" href="../../css/sub.css">

    <script src="../../lib/fancybox.umd.js"></script>
    <script src="../../lib/gsap.min.js"></script>
    <script src="../../lib/jquery-3.7.1.min.js"></script>
    <script src="../../lib/jquery-ui.min.js"></script>
    <script src="../../lib/lenis.min.js"></script>
    <script src="../../lib/ScrollTrigger.min.js"></script>
    <script src="../../lib/swiper-bundle.min.js"></script>
    <script src="../../lib/aos.js"></script>
    <script src="../../js/sub.js"></script>
    <script src="/hgonnnnn/js/common.js"></script>
</head>

<body id="Overview01" class="overview">
    <header id="header"></header>
    <div class="sub_visual over03">
        <div class="wrap">
            <p>Overview</p>
            <h2>DIESEL</h2>
        </div>
    </div>
    <section class="sec01">
        <div class="wrap01">
            <div class="tit" data-aos="fade-up" data-aos-duration="1000">
                <span>리디자인</span>
                <strong>특유의 반항적이고 실험적인 에너지가 핵심인 브랜드</strong>
                <p>기존의 정리되지 않은 부분들을 정리하고 브랜드의 매력을 온전히 느낄 수 있도록 리디자인 하였습니다.</p>
                <div class="more_wrap three">
                    <a href="https://hgonnnnn.github.io/diesel/" target="_blank" class="more">바로가기</a>
                    <a href="https://www.figma.com/design/DKx7HCZdDC14rLGzzDq23U/%EB%94%94%EC%A0%A4-%EB%A6%AC%EB%94%94%EC%9E%90%EC%9D%B8-(%EB%A9%94%EC%9D%B8-%ED%8E%98%EC%9D%B4%EC%A7%80)?node-id=0-1&t=MQBacNBVvTVArK8y-0" target="_blank" class="over">Figma</a>
                    <a href="/hgonnnnn/sub/view/pdf/diesel.pdf" target="_blank" class="over">Overview</a>
                </div>
            </div>
            <div class="info" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                <div class="img_wrap">
                    <img src="../../img/diesel_pc.png" class="pc">
                    <img src="../../img/diesel_mob.png" class="mob">
                </div>
                
                <ul class="txt">
                    <li class="sub_tit"><p>PORTFOLIO</p></li>
                    <li><strong>Type</strong><p>반응형 웹 디자인, 1인 작업</p><span>(기획, 디자인, 퍼블리싱 100%)</span></li>
                    <li><strong>Page</strong><p>메인 페이지</li>
                    <li><strong>Tools</strong><p>HTML, CSS, JS, Figma</p></li>
                    <li><strong>Library</strong><p>jQuery, Swiper</p></li>
                </ul>
            </div>
            <a href="/hgonnnnn/sub/project.html" class="prev">목록</a>
        </div><!-- .wrap01 end -->
    </section>
    <footer id="footer"></footer>
</body>

</html>