<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nintendo Overview</title>
    <link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../lib/fancybox.css">
    <link rel="stylesheet" href="../../lib/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../lib/aos.css">
    <link rel="stylesheet" href="../../css/sub.css">

    <script src="../../lib/fancybox.umd.js"></script>
    <script src="../../lib/gsap.min.js"></script>
    <script src="../../lib/jquery-3.7.1.min.js"></script>
    <script src="../../lib/jquery-ui.min.js"></script>
    <script src="../../lib/lenis.min.js"></script>
    <script src="../../lib/ScrollTrigger.min.js"></script>
    <script src="../../lib/swiper-bundle.min.js"></script>
    <script src="../../lib/aos.js"></script>
    <script src="../../js/sub.js"></script>
    <script src="/hgonnnnn/js/common.js"></script>
</head>

<body id="Overview01" class="overview">
    <header id="header"></header>
    <div class="sub_visual over05">
        <div class="wrap">
            <p>Overview</p>
            <h2>Nintendo</h2>
        </div>
    </div>
    <section class="sec01">
        <div class="wrap01">
            <div class="tit" data-aos="fade-up" data-aos-duration="1000">
                <span>리디자인</span>
                <strong>전 연령층을 아우르는 즐거움과 혁신을 상징하는 브랜드</strong>
                <p>기존의 2개로 나누어져 있던 사이트를 하나로 병합하였습니다.</p>
                <div class="more_wrap two">
                    <a href="https://hgonnnnn.github.io/Nintendo/" target="_blank" class="more">바로가기</a>
                    <a href="https://www.figma.com/design/u4Q1feERsIYS2bQdLFism8/%EB%8B%8C%ED%85%90%EB%8F%84-%EB%A6%AC%EB%94%94%EC%9E%90%EC%9D%B8?node-id=0-1&t=PwxsS2GS9GaYL8UK-0" target="_blank" class="over">Figma</a>
                    <!-- <a href="/hgonnnnn/sub/view/pdf/diesel.pdf" target="_blank" class="over">Overview</a> -->
                </div>
            </div>
            <div class="info" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                <div class="img_wrap">
                    <img src="../../img/nintendo_pc.png" class="pc">
                    <!-- <img src="../../img/diesel_mob.png" class="mob"> -->
                </div>
                
                <ul class="txt">
                    <li class="sub_tit"><p>PORTFOLIO</p></li>
                    <li><strong>Type</strong><p>적응형 웹 디자인(PC), 1인 작업</p><span>(기획, 디자인, 퍼블리싱 100%)</span></li>
                    <li><strong>Page</strong><p>메인 페이지</li>
                    <li><strong>Tools</strong><p>HTML, CSS, JS, Figma</p></li>
                    <li><strong>Library</strong><p>jQuery, Swiper</p></li>
                </ul>
            </div>
            <a href="/hgonnnnn/sub/project.html" class="prev">목록</a>
        </div><!-- .wrap01 end -->
    </section>
    <footer id="footer"></footer>
</body>

</html>