<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nothing Overview</title>
    <link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../lib/fancybox.css">
    <link rel="stylesheet" href="../../lib/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../lib/aos.css">
    <link rel="stylesheet" href="../../css/sub.css">

    <script src="../../lib/fancybox.umd.js"></script>
    <script src="../../lib/gsap.min.js"></script>
    <script src="../../lib/jquery-3.7.1.min.js"></script>
    <script src="../../lib/jquery-ui.min.js"></script>
    <script src="../../lib/lenis.min.js"></script>
    <script src="../../lib/ScrollTrigger.min.js"></script>
    <script src="../../lib/swiper-bundle.min.js"></script>
    <script src="../../lib/aos.js"></script>
    <script src="../../js/sub.js"></script>
    <script src="/hgonnnnn/js/common.js"></script>
</head>

<body id="Overview01" class="overview">
    <header id="header"></header>
    <div class="sub_visual over01">
        <div class="wrap">
            <p>Overview</p>
            <h2>NOTHING</h2>
        </div>
    </div>
    <section class="sec01">
        <div class="wrap01">
            <div class="tit" data-aos="fade-up" data-aos-duration="1000">
                <span>리디자인</span>
                <strong>디자인적 차별화를 둔 젊고 감각적인 브랜드</strong>
                <p>브랜드의 디자인 철학을 바탕으로 강인함이 느껴지도록 리디자인 하였습니다.</p>
                <div class="more_wrap two">
                    <a href="https://hgonnnnn.github.io/nothing01" target="_blank" class="more">바로가기</a>
                    <a href="/hgonnnnn/sub/view/pdf/nothing.pdf" target="_blank" class="over">Overview</a>
                </div>
            </div>
            <div class="info" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                <div class="img_wrap">
                    <img src="../../img/nothing_pc.png" class="pc">
                    <img src="../../img/nothing_mob.png" class="mob">
                </div>
                
                <ul class="txt">
                    <li class="sub_tit"><p>PORTFOLIO</p></li>
                    <li><strong>Type</strong><p>반응형 웹 디자인, 1인 작업</p><span>(기획, 디자인, 퍼블리싱 100%)</span></li>
                    <li><strong>Page</strong><p>메인 페이지, 서브 페이지(1P)</p><span>(Ear 더 알아보기 버튼 클릭 시 이동합니다.)</span></li>
                    <li><strong>Tools</strong><p>HTML, CSS, JS, Photoshop</p></li>
                    <li><strong>Library</strong><p>jQuery, Swiper</p></li>
                </ul>
            </div>
            <a href="/hgonnnnn/sub/project.html" class="prev">목록</a>
        </div><!-- .wrap01 end -->
    </section>
</body>

</html>