<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>우체국 Overview</title>
    <link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../lib/fancybox.css">
    <link rel="stylesheet" href="../../lib/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../lib/aos.css">
    <link rel="stylesheet" href="../../css/sub.css">

    <script src="../../lib/fancybox.umd.js"></script>
    <script src="../../lib/gsap.min.js"></script>
    <script src="../../lib/jquery-3.7.1.min.js"></script>
    <script src="../../lib/jquery-ui.min.js"></script>
    <script src="../../lib/lenis.min.js"></script>
    <script src="../../lib/ScrollTrigger.min.js"></script>
    <script src="../../lib/swiper-bundle.min.js"></script>
    <script src="../../lib/aos.js"></script>
    <script src="../../js/sub.js"></script>
    <script src="/hgonnnnn/js/common.js"></script>
</head>

<body id="Overview01" class="overview">
    <header id="header"></header>
    <div class="sub_visual over07">
        <div class="wrap">
            <p>Overview</p>
            <h2>우체국</h2>
        </div>
    </div>
    <section class="sec01">
        <div class="wrap01">
            <div class="tit" data-aos="fade-up" data-aos-duration="1000">
                <span>모바일앱</span>
                <strong>어제보다 가까운 오늘을 잇는 빨간 우체통의 약속</strong>
                <p>우체국 모바일앱을 트렌드에 맞게 리디자인하였습니다.</p>
                <div class="more_wrap two">
                    <a href="https://www.figma.com/design/JdAa7mhaSluQE500lpH2RY/%EC%9A%B0%EC%B2%B4%EA%B5%AD-%EB%AA%A8%EB%B0%94%EC%9D%BC?node-id=0-1&t=cUxpXyOqyWno0lB2-0" target="_blank" class="more">Figma</a>
                    <a href="/hgonnnnn/sub/view/pdf/post.pdf" target="_blank" class="over">Overview</a>
                </div>
            </div>
            <div class="info" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                <div class="img_wrap">
                    <img src="../../img/post.png" class="pc wid_none">
                    <!-- <img src="../../img/diesel_mob.png" class="mob"> -->
                </div>
                
                <ul class="txt">
                    <li class="sub_tit"><p>PORTFOLIO</p></li>
                    <li><strong>Type</strong><p>모바일 APP, 1인 작업</p><span>(기획, 디자인 100%)</span></li>
                    <li><strong>Page</strong><p>메인 페이지, 서브 페이지(9p)</li>
                    <li><strong>Tools</strong><p>Figma</p></li>
                    <!-- <li><strong>Library</strong><p>jQuery, Swiper</p></li> -->
                </ul>
            </div>
            <a href="/hgonnnnn/sub/project.html" class="prev">목록</a>
        </div><!-- .wrap01 end -->
    </section>
    <footer id="footer"></footer>
</body>

</html>